* {
    box-sizing: border-box;
}

body {
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 705px;
        height: 428px;
        background-color: #edf2f6;
        z-index: -1;
        border-bottom-left-radius: 100px;
    }
}

.header {
    height: 100%;
    overflow: hidden;
    &-bg {
        text-align: right;
        margin-top: -29%;
        margin-right: -18.5%;
    }
}

.container {
    max-width: 1140px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Barlow', sans-serif;
*/

.header-nav {
    padding-top: 5%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .nav-link {
        color: hsl(230, 29%, 20%);
        font-weight: 800;
        font-size: 0.91rem;
        letter-spacing: 1.1px;
        padding: 8px 20px;
        &:hover {
            text-decoration: underline;
        }
    }
    &__logo {
        display: block;
    }
}

.nav-link.header-nav__login {
    padding-right: 0;
    padding-left: 73px;
    color: #848894;
    position: relative;
    &::before {
        content: "";
        width: 7px;
        height: 7px;
        border-radius: 100%;
        position: absolute;
        background-color: #d0d5d9;
        left: 19px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
}

.content {
    margin-top: 14%;
    max-width: 471px;
}

.content-suptitle {
    color: #9b9b9d;
    letter-spacing: 5.2px;
    font-size: 0.9rem;
    span {
        display: inline-block;
        color: #fff;
        background-color: #1b213b;
        font-size: 0.98rem;
        padding: 1px 11px;
        border-radius: 20px;
        font-weight: 800;
        margin-right: 5px;
        letter-spacing: normal;
    }
}

.content-title {
    font-weight: 800;
    font-size: 4rem;
    line-height: 4rem;
    padding: 4% 0 6%;
}

.content-text {
    font-family: 'Barlow', sans-serif;
    text-transform: none;
}

.content-info {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.8rem;
    margin-top: 14.5%;
    &__button {
        display: inline-block;
        width: 185px;
        background-color: #ff5d5e;
        margin-right: 23px;
        cursor: pointer;
        &:hover {
            background-color: #ff8584;
            border-color: #ff8584;
        }
    }
    &__text {
        display: inline-block;
        letter-spacing: 5.8px;
    }
}

@import 'media.scss';